#point-board-grid {	
}

#point-board-grid .clear {
	clear: both;
	width: 100px;
	font-size: 1px;
	line-height: 1px;
} 

.point-board-item {
  cursor: pointer;
  float: left;
  height: 45px;
  width: 45px;
  border: 1px solid #eaeaea;  
}  

.point-board-item-free {
  background: transparent url('item-free.gif') repeat center center;	
}

#dialog form,
#dialog input {
	width: 205px;
}

#dialog #validateTips {
  width: 265px;
}

#dialog label {
  display: block;
}
